# Matched against repo root (asterisk)
*       @DerekRoberts @mishraomp @paulushcgcj @conbrad @craigyu @RMCampos @MCatherine1994 @franTarkenton

# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
